<h1>Formulario de Contacto</h1>

<form [formGroup]="contact_Form" (ngSubmit)="onSubmit()">
  <div class="content">
    <!-- Campo de Nombre -->
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Ingresa tu nombre">
      </mat-form-field>
    </div>

    <!-- Selección de Barbero -->
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Selecciona un Barbero</mat-label>
        <mat-select formControlName="barber">
          <mat-option *ngFor="let barber of barbers" [value]="barber">{{ barber }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Selección de Hora -->
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Selecciona una hora</mat-label>
        <input matInput [ngxMatTimepicker]="picker" formControlName="hour" readonly placeholder="Selecciona una hora">
        <ngx-mat-timepicker #picker></ngx-mat-timepicker>
      </mat-form-field>
    </div>

    <!-- Botón de Envío -->
    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!contact_Form.valid">
        Enviar
      </button>
    </div>
  </div>
</form>
