<h1>Contact Form</h1>
<form [formGroup]="contact_Form" (ngSubmit)="onSubmit()">
  <div class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Selecciona un barbero</mat-label>
        <mat-select formControlName="barber">
          <mat-option *ngFor="let barber of barbers" [value]="barber">{{ barber }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Selecciona una hora</mat-label>
        <input matInput [ngxMatTimepicker]="picker" formControlName="hour" readonly>
        <ngx-mat-timepicker #picker></ngx-mat-timepicker>
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!contact_Form.valid">
        Submit
      </button>
    </div>
  </div>
</form>
